body {
    font-family: Helvetica;
}

div.top-toolbox {
    position: absolute;
    top: 10px;
    height: 26px;
    right: 200px;
    left: 10px;
}

#templateSwitcher {
    position: absolute;
    top: 30px;
    left: -150px;
    width: 120px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 3px;
    padding: 5px 20px 5px 10px;
    font-size: 13px;
    font-family: 'Open Sans',Verdana,Arial,Tahoma,Calibri,Geneva,sans-serif;
    border-right: solid 4px #649DF4;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#templateSwitcher:hover {
    left: 0px;
}

#templateSwitcher p {
    cursor: pointer;
    color: #0066ff
}

#templateSwitcher p:hover {
    text-decoration: underline;
}

button {
    position: relative;
    width: 140px;
    height: 26px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 1;
}

button.hidden {
    opacity: 0;
    cursor: default;
}

div.top-toolbox button {
    float: left;
}

div.widget .input-wrap {
    margin: 10px 10px 0px 10px;
    width: 180px;
    min-height: 16px;
}

div.widget .input-wrap label {
    font-size: 12px;
    height: 20px;
    width: 144px;
    margin-right: 10px;
    display: block;
    float: left;
    font-weight: bold;
}

.input-wrap input[type='range'] {
    margin-right: 10px;
    width: 80px;
    display: block;
    float: left;
}

.input-wrap span.value {
    font-size: 12px;
    width: 20px;
    display: block;
}

div.widget .input-wrap.nested {
    margin-left: 24px;
    width: 166px;
}

div.widget .input-wrap.nested label {
    width: 130px;
    font-weight: normal;
}

.section {
    margin: 0px 0px 26px 0px;
}

button, button:hover {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

