
/*
 * LOGO
 */

.melown-map {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

/*
 * LOGO
 */

.melown-logo {
    color:#fff;
    text-shadow: 0 0 2px #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 0px;    
    margin-right: 10px;    
}


/*
 * POPUP
 */

.melown-popup-background {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index: 5;
    position:absolute;
    background-color: rgba(0,0,0,0.5);    
}

#melown-popup {
    position:absolute;
    z-index: 6;
    padding: 5px;
    font-family: Verdana, Tahoma, Geneva, Arial, Sans-serif;
    font-size: 11px;
    color:#000;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
}

/*
 * CREDITS
 */

.melown-credits {
    position:absolute;
    right:3px;
    bottom:3px;
    z-index: 4;
    padding: 7px 0px;
    margin: 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: Verdana, Tahoma, Geneva, Arial, Sans-serif;
    font-size: 11px;
}

.melown-credits-cell {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 1px;
    text-shadow: 0 0 2px #000;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.melown-credits-cell a {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.melown-credits-cell-button {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 0px;
    overflow: hidden;
    text-shadow: 0 0 2px #000;
    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin-left: 5px;
}

.melown-credits-separator {
    display: inline-block;
    width : 1px;
    height : 14px;
    background-color: rgba(255,255,255,0.4);
    margin-left: 10px;
    margin-right: 10px;
}

.melown-credits-list {
    line-height:150%;
}

.melown-credits-list a {
    color: #000;
}


#vadstena-engine-credits a {
    color: #FFFFFF;
    text-decoration: none;
}

/*
 * FALLBACK
 */

.melown-fallback {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #000000;
    display: none;
    font-family: Verdana, Tahoma, Geneva, Arial, Sans-serif;
    color:#ddd;
}

.melown-fallback-text {
  width: 50%;
  left: 25%;
  position: absolute;
  height: 20%;
  top: 40%;
  text-align: center;
}

.melown-fallback-text a {
    color: #0066FF;
}

.melown-fallback-text p {
    padding: 3px;
    margin: 0px;
}

/*
 * COMPASS
 */

#melown-compass {
    position:absolute;
    left:0px;
    bottom:40px;
    cursor: move;
    overflow: hidden;
    width: 99px;
    height: 99px;
    z-index: 50;

    z-index: 0;
    max-width:120px;
    max-height:120px;
    
    transform: scale(0.9);    
}

#melown-compass-frame {
    position:absolute;
    right:0px;
    bottom:2px;
    width: 99px;
    height: 99px;
    z-index: 10;
    -webkit-perspective:200px;
    perspective:200px;
    pointer-events:none;
}

#melown-compass-frame2 {
    position:absolute;
    right:0px;
    bottom:1px;
    width: 99px;
    height: 99px;
    z-index: 11;
    -webkit-perspective:200px;
    perspective:200px;
    pointer-events:none;
    opacity: 0.25;
}

#melown-compass-frame3 {
    position:absolute;
    right:0px;
    bottom:0px;
    width: 99px;
    height: 99px;
    z-index: 12;
    -webkit-perspective:200px;
    perspective:200px;
    pointer-events:none;
    opacity: 0.25;
}

/*
 * ZOOM
 */

.melown-zoom {
}

.melown-zoom-plus {
    position:absolute;
    left:10px;
    bottom:10px;
    cursor: pointer;
    z-index: 4;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.47);
    opacity: 0.95;
}

.melown-zoom-plus img {
    display: block;
    border-radius: 2px;
    background-color: #fff;
}

.melown-zoom-minus {
    position:absolute;
    left:45px;
    bottom:10px;
    cursor: pointer;
    z-index: 4;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.47);
    opacity: 0.95;
}

.melown-zoom-minus img {
    display: block;
    border-radius: 2px;
    background-color: #fff;
}

/*
 * SPACE
 */

.melown-space {
    position:absolute;
    left:80px;
    bottom:10px;
    cursor: pointer;
    z-index: 4;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.47);
    opacity: 0.95;
}

.melown-space-button {
    border-radius: 2px;
    background-color: #fff;
    display:none;
}

/*
 * LINK
 */

.melown-link {
    position:absolute;
    left:115px;
    bottom:10px;
    z-index: 4;
}

.melown-link-button {
    cursor: pointer;
    opacity: 0.95;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.47);
    opacity: 0.95;
}

.melown-link-button img {
    display: block;
    border-radius: 2px;
    background-color: #fff;
}

.melown-link-text-holder {
    position: absolute;
    bottom: 0px;
    left: 35px;
    opacity: 0.95;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.47);
    opacity: 0.95;
}

.melown-link-text {
    padding: 2px;
    border-radius: 2px;
    background-color: #fff;
}

.melown-link-text textarea {
    border: solid 1px #ddd;
    resize: none;
    padding: 5px;
}


